<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Administrator Page</title>
    <link rel="stylesheet" href="assets\css\main.css">
</head>
<body>
  <div class="area"></div>
  <nav class="main-menu">
    <ul>
        <li>
            <i class="fa fa-user fa-4x"></i>
            <span class="nav-text">
             <b>Welcome, Admin</b></br> 
            </span>
          </a>

      </li>
      <li class="has-subnav">
        <a href="adminpage.html">
          <i class="fa fa-home fa-2x"></i>
          <span class="nav-text">
            Admin Dashboard
          </span>
        </a>

      </li>
      <li class="has-subnav">
        <a href="#">
          <i class="fa fa-users fa-2x"></i>
          <span class="nav-text">
            Users Settings
          </span>
        </a>

      </li>
      <li class="has-subnav">
        <a href="">
            <i class="fa fa-cogs fa-2x"></i>
            <span class="nav-text">
              Systems Settings
          </span>
        </a>

      </li>
      <li>
        <a href="">
            <i class="fa fa-folder-open fa-2x"></i>
            <span class="nav-text">
              Logs
          </span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="fa fa-font fa-2x"></i>
          <span class="nav-text">
           Audits
          </span>
        </a>
      </li>
      
     
    </ul>
    <ul class="admin">
      <li>
        <a href="mainpage.html">
          <i class="fa fa-home fa-2x"></i>
          <span class="nav-text">
           Main Page User Dashboard
          </span>
        </a>
      </li>

    <ul class="logout">
      <li>
        <a href="index.html">
          <i class="fa fa-power-off fa-2x"></i>
          <span class="nav-text">
            Logout
          </span>
        </a>
      </li>
    </ul>
  </nav>

  <hr>
  <div class="main-page-menu">
    <h1> Administrator Dashboard</h1>
  </div>
  <div class="main-page-body">
  <h3> features include</h3>
  <p>This is the part when i say that am gonna be stronger than i was before</p>
  
  </div>
  
</body>

</html>



