<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Main Page</title>
    <link rel="stylesheet" href="assets\css\main.css">
</head>
<body>
  <div class="area"></div>
  <nav class="main-menu">
    <ul>
      <li>
          <i class="fa fa-user fa-4x"></i>
          <span class="nav-text">
           <b>Welcome, User</b></br> 
          </span>
        </a>

      </li>
      <li class="has-subnav">
        <a href="mainpage.html">
          <i class="fa fa-home fa-2x"></i>
          <span class="nav-text">
            Dashboard
          </span>
        </a>

      </li>
      <li class="has-subnav">
        <a href="#">
          <i class="fa fa-list fa-2x"></i>
          <span class="nav-text">
            Forms
          </span>
        </a>

      </li>
      <li class="has-subnav">
        <a href="cases.html">
          <i class="fa fa-folder-open fa-2x"></i>
          <span class="nav-text">
            Cases
          </span>
        </a>

      </li>
      <li>
        <a href="reports.html">
          <i class="fa fa-bar-chart-o fa-2x"></i>
          <span class="nav-text">
            Reports
          </span>
        </a>
      </li>
      <li>
        <a href="audits.html">
          <i class="fa fa-font fa-2x"></i>
          <span class="nav-text">
           Audits
          </span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-table fa-2x"></i>
          <span class="nav-text">
            Tables
          </span>
        </a>
      </li>
      <li>
        <a href="criminalactivity.html">
          <i class="fa fa-map-marker fa-2x"></i>
          <span class="nav-text">
            Search and Locate Criminal Activiities
          </span>
        </a>
      </li>
      <li>
    </ul>
    <ul class="admin">
      <li>
        <a href="adminpage.html">
          <i class="fa fa-cog fa-2x"></i>
          <span class="nav-text">
            Administrator Page
          </span>
        </a>
      </li>

    <ul class="logout">
      <li>
        <a href="index.html">
          <i class="fa fa-power-off fa-2x"></i>
          <span class="nav-text">
            Logout
          </span>
        </a>
      </li>
    </ul>
  </nav>
<div class="main-page-menu">
  <h1> User Dashboard</h1>
</div>
<div class="main-page-body">
<h3> features include</h3>
<p>This is the part when i say that am gonna be stronger than i was before</p>

</div>

</body>

</html>